<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your eCommerce Store</title>
    <link href="/dist/output.css" rel="stylesheet">
    <!-- Include Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body class="overflow-x-hidden">
    <!-- Header -->
    <header class="bg-nav-bar-red text-white py-4 xl:py-5">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="font-display text-xl"><strong>Classic Soul</strong> </h1>
            <!-- Navigation menu with Men and Women links -->
            <nav class="hidden md:block">
                <ul class="flex px-4 font-semibold font-heading space-x-12">
                    <li><a class="hover:text-gray-200" href="/category">Category</a></li>
                </ul>
            </nav>
            <div class="hidden xl:flex items-center space-x-5">
                <a class="hover:text-gray-200 flex items-center" href="/wishlist">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                    <span class="ml-2">Wishlist</span>
                </a>
                <a class="flex items-center hover:text-gray-200" href="/cart/{{user._id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
                    <span class="ml-2">Cart</span>
                    <span class="flex absolute -mt-5 ml-4">
                        <span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-pink-400 opacity-75"></span>
                        <span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500"></span>
                    </span>
                </a>
                <!-- Sign In / Register -->
                <a class="flex items-center hover:text-gray-200" href="/profile">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span class="ml-2">Profile</span>
                </a>
            </div>
            <!-- Responsive navbar -->
            <a class="xl:hidden flex mr-6 items-center" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 1000 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
                <span class="flex absolute -mt-5 ml-4">
                    <span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-pink-400 opacity-75"></span>
                    <span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500"></span>
                </span>
            </a>
            <a class="navbar-burger self-center mr-12 xl:hidden" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </a>
        </div>
    </header>

 <!-- Search Bar -->
<div class="bg-gray-100 py-7 shadow-md">
    <div class="container mx-auto">
        <form action="/searchprdt" method="post" class="flex items-center justify-center">
            <input type="text" name="searchQuery" placeholder="Search for products..." class="w-full sm:w-3/4 lg:w-1/2 px-2 py-3 rounded-full border border-gray-300 focus:outline-none focus:border-indigo-500 shadow-sm">
            <button type="submit" class="ml-2 bg-slate-700 hover:bg-red-600 text-white font-semibold px-9 py-3 rounded-full transition duration-300 ease-in-out focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50 shadow-sm">Search</button>
        </form>
    </div>
</div>


    <!-- Banner Carousel -->
    <section class="bg-gray-200 py-8 xl:py-12">
        <div class="container mx-auto">
            <!-- Carousel code goes here -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide xl:h-80">
                        <img src="/images/Homepage--Banner_1_J0PcbLN.webp" alt="Banner 1" class="w-full">
                    </div>
                    <div class="swiper-slide xl:h-80"> 
                        <img src="/images/banner 3 mens' .webp" alt="Banner 2" class="w-full">
                    </div>
                    <div class="swiper-slide xl:h-80">
                        <img src="images/banneromg55.jpg" alt="Banner 3" class="w-full">
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Product List -->
<h1 class="text-3xl font-semibold mt-8 text-center">Product List</h1><br>
<div class="flex flex-wrap -mx-2 justify-evenly">
  {{#each products}}
    <div class="swiper-slide relative m-2 md:m-4 lg:m-10 flex w-full h-auto max-w-xs flex-col overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md">
      <div class="relative mx-2 mt-2 md:mx-3 md:mt-3 lg:mx-4 lg:mt-4 h-36 sm:h-48 md:h-52 lg:h-60 overflow-hidden rounded-xl flex flex-col justify-between">
        <a href="/products/{{_id}}">
          {{#each this.images}}
            <img id="image" class="object-contain object-center w-full h-full" src="/uploads/{{this}}" alt="{{../name}}" />
          {{/each}}
          <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 hover:opacity-100 transition duration-300 ease-in-out">
            <a href="/products/{{_id}}" class="text-white font-semibold px-4 py-2 bg-indigo-500 hover:bg-indigo-700 transition duration-300 ease-in-out focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50">View Product Details</a>
          </div>
        </a>
      </div>
      <div class="mt-2 md:mt-4 px-2 md:px-5 pb-2 md:pb-5">
        <a href="#">
          <h5 class="sm:text-lg md:text-xl lg:text-2xl tracking-tight text-slate-900">
            {{name}}
          </h5>
        </a>
        <div class="mt-1 md:mt-2 mb-3 md:mb-5 flex items-center justify-between">
          <p>
            <span class="sm:text-lg md:text-xl lg:text-2xl font-bold text-slate-900">${{price}}</span>
          </p>
          <div class="flex items-center space-x-1 md:space-x-2">
            <span class="mr-2 ml-3 rounded bg-yellow-200 px-1 sm:px-2 md:px-3 lg:px-4 text-xs sm:text-sm md:lg:text-lg font-semibold">{{rating}}</span>
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <a href="/wishlistadd/{{_id}}" class="flex items-center justify-center w-full bg-gray-900 px-2 py-1 text-sm text-white transition hover:bg-gray-700 rounded-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
            </svg>
            Add to Wishlist
          </a>
          <a href="/products/{{_id}}" class="flex items-center justify-center w-full bg-gray-900 px-2 py-1 text-sm text-white transition hover:bg-gray-700 rounded-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
            </svg>
            View Details
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</div>

  <!-- Product List -->
    {{!-- <div class="bg-gray-100 py-8">
        <div class="container mx-auto">
            <h1 class="text-3xl font-semibold mb-8 text-center">Product List</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-8 ">
                {{#each products}}
                <a href="/products/{{_id}}" class="bg-white rounded-xl shadow-md overflow-hidden hover:shadow-lg transition duration-300 ease-in-out block">
                    <div class="relative overflow-hidden">
                        {{#each this.images}}
                        <img src="/uploads/{{this}}" alt="{{../name}}" class="w-full h-72 object-contain">
                        {{/each}}
                        <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-30 hover:bg-opacity-50 transition duration-300 ease-in-out opacity-0 hover:opacity-100">
                            <button class="text-white font-semibold px-4 py-2 bg-indigo-500 hover:bg-indigo-700 transition duration-300 ease-in-out focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50">View Details</button>
                        </div>
                    </div>
                    <div class="p-6">
                        <h3 class="text-xl font-semibold mb-4">{{name}}</h3>
                        <p class="text-gray-600">{{description}}</p>
                        <p class="text-gray-800 font-semibold mt-4">$ {{price}}</p>
                        <button class="mt-4 bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50">Add to Cart</button>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
    </div> --}}

{{!-- <!-- Men's Product List -->
<div class="bg-gray-100 py-8">
    <div class="container mx-auto">
        <h1 class="text-3xl font-semibold mb-4 text-center">Men's Product List</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            {{#each menProducts}} <!-- Assuming you pass 'menProducts' in your template -->
            <a href="/products/{{_id}}" class="max-w-xl mx-auto bg-white rounded-xl shadow-md overflow-hidden hover:shadow-lg transition duration-300 ease-in-out h-96 block">
                {{#each this.images}}
                <img src="/uploads/{{this}}" alt="{{../name}}" class="w-full h-60 object-cover">
                {{/each}}
                <div class="p-4">
                    <h3 class="text-xl font-semibold mb-2">{{name}}</h3>
                    <p class="text-gray-600 text-sm">Price: ${{price}}</p>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</div>

<!-- Women's Product List -->
<div class="bg-gray-100 py-8">
    <div class="container mx-auto">
        <h1 class="text-3xl font-semibold mb-4 text-center">Women's Product List</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            {{#each womenProducts}} <!-- Assuming you pass 'womenProducts' in your template -->
            <a href="/products/{{_id}}" class="max-w-xl mx-auto bg-white rounded-xl shadow-md overflow-hidden hover:shadow-lg transition duration-300 ease-in-out h-96 block">
                {{#each this.images}}
                <img src="/uploads/{{this}}" alt="{{../name}}" class="w-full h-60 object-cover">
                {{/each}}
                <div class="p-4">
                    <h3 class="text-xl font-semibold mb-2">{{name}}</h3>
                    <p class="text-gray-600 text-sm">Price: ${{price}}</p>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</div> --}}


    <!-- Footer -->
    <footer class="bg-gray-900 text-white py-8">
        <div class="container mx-auto text-center">
            <p>&copy; 2023 Classic Soul eCommerce Store</p>
            <!-- Social media links, contact information, etc. can be added here -->
        </div>
    </footer>

    <!-- Include Swiper JS for the carousel -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize the carousel with autoplay -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 1,
                spaceBetween: 10,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                loop: true, // Enable looping
                autoplay: {
                    delay: 2000, // Set the delay between slides (in milliseconds)
                    disableOnInteraction: false, // Allow manual navigation to stop autoplay
                },
            });
        });
    </script>
</body>
</html>
