<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
    <title>Prouduct page</title>
</head>
<body class="bg-gray-100">
    <header class="bg-blue-500 p-4 text-white">
        <div class="container mx-auto">
            <h1 class="text-3xl font-semibold">{{ product.name }}</h1>
        </div>
    </header>
    <div class="container mx-auto mt-8 bg-white p-4 rounded-lg shadow-lg">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="flex justify-center">
                <div class="max-w-md rounded-lg overflow-hidden">
                    <!-- Main product image -->
                    <img src="{{ product.imageUrl }}" alt="{{ product.name }}">
                     <div class="grid grid-cols-3 gap-4">
            <!-- Small product images -->
            {{#each product.smallImages as |smallImage|}}
            <div class="max-w-xs rounded-lg overflow-hidden">
                <img src="{{ smallImage.url }}" alt="{{ smallImage.alt }}">
            </div>
            {{/each}}
        </div>
                </div>
            </div>
            <div>
                <h2 class="text-2xl font-semibold mb-4">{{ product.name }}</h2>
                <p class="text-gray-600 text-lg mb-4">{{ product.description }}</p>
                <p class="text-3xl font-semibold text-blue-500 mb-4">$ {{ product.price }}</p>
                <div class="mb-4">
                    <label for="quantity" class="block text-gray-600">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" class="w-16 border rounded-md p-2">
                </div>
                <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="container mx-auto mt-8 bg-white p-4 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-4">Product Details</h2>
        <p class="text-gray-600">{{ product.details }}</p>
    </div>
    <div class="container mx-auto mt-8 bg-white p-4 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-4">Product Gallery</h2>
       
    </div>
    <div class="container mx-auto mt-8 bg-white p-4 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-4">Customer Reviews</h2>
        <!-- Display customer reviews here -->
    </div>
</body>
</html>