<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <!-- Header section -->
    <header class="bg-nav-bar-red text-white py-4 xl:py-5">
        <!-- Your header content goes here -->
    </header>

    <!-- Search Results section -->
    <div class="container mx-auto mt-8 px-4">
        <h1 class="text-3xl font-semibold mb-4">Search Results</h1>

        <!-- Product list -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            {{#each products}}
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    {{#each images}}
                        <img src="/uploads/{{this}}" alt="{{../name}}" class="w-full h-48 object-cover">
                    {{/each}}
                    <div class="p-4">
                        <h2 class="text-xl font-semibold mb-2">{{name}}</h2>
                        <p class="text-gray-600 mb-4">{{description}}</p>
                        <p class="text-gray-800 font-semibold text-lg">${{price}}</p>
                        <a href="/products/{{_id}}" class="mt-4 block bg-indigo-500 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50">View Details</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    <!-- Footer section -->
    <footer class="bg-gray-900 text-white py-8 mt-8">
        <div class="container mx-auto text-center">
            <p>&copy; 2023 Classic Soul eCommerce Store</p>
        </div>
    </footer>
</body>
</html>
